* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background-color: #e5e1e1;
  position: relative;
}

/* media queries breakpoints - responsive design*/
.row::after {
  content: "";
  clear: both;
  display: block;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For desktop: */
.col-1 {
  width: 8.33%;
}
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
/* responsive design media queries breakpoints */

.row {
  width: 100%;
  height: 100vh;
  display: flex;
}
.left-content {
  background-color: forestgreen;
  color: white;
  position: relative;
  border-radius: 25px;
  height: 140vh;
  margin-top: 0.6rem;
  margin-left: 0.7rem;
}

.memoriallogo img {
  width: 150px;
  position: absolute;
  top: 2rem;
}
.hamburgermenu img {
  width: 40px;
  float: right;
  margin-top: 2rem;
}

.adminprofile img {
  width: 10rem;
  margin-top: 6rem;
  padding-left: 30px;
}
.main {
  width: 100%;
  margin-top: 1rem;
  margin-left: 50px;
 
}
.right-content1 {
  margin-left: 20px;
  width: 90%;
  height: 20rem;
  margin-top: 1rem;
  background-color: white;
  color: forestgreen;
  border-radius: 20px;
  position: relative;
}
.paymenthistory {
  padding-left: 50rem;
  padding-top: 0rem; /* Set top padding to 0 */
  padding-bottom: 0rem;
}

.right-content2 {
  margin-left: 20px;
  width: 90%;
  height: 80%;
  margin-top: 4rem;
  background-color: white;
  color: forestgreen;
  border-radius: 20px;
  padding: 10px;
}

.rightsidebar-content{
  padding-left: 20px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.rightsidebar-content2{
  padding-left: 20px;
  color: black;
}
.uppersidebar-content{
display: flex;
gap: 40px;
padding-top: 40px;

}
.uppersidebar-content>div{
  width:250px;
  height:100px;
  background-color: #e5e1e1;
  margin-left: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border-radius:10px;
  font-size: .8rem;
  color: black;
}
.uppersidebar-content a{
  text-decoration: none;
  color:black;
}
.banktransfer p{
  padding-left: 25px;
}
.banktransfer img{
  width:70px;
  margin-left: 40px;
}
.cash p{
  padding-left: 60px;
}
.cash img{
  width:70px;
  margin-left: 40px;
}
.other p{
  padding-top: 70px;
  padding-left: 60px;
}

.creditcardinfo-header{
  padding-left: 20px;
  padding-top: 20px;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  color:black;
}

.right-content2 form{
  margin-left: 20px;
  width: 100%;
  height: 50vh;
  margin-top: 2rem;
  background-color: #e5e1e1;;
  color: forestgreen;
  border-radius: 20px;
  padding: 10px;
  padding-top: 3rem;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.Expiry{
  display: flex;
  gap:10px;
  height: 2rem;
}
.expiry1{
  height: 5rem;
}
.input1{
  width:30rem;
  height:2rem;
  font-size: 1rem;
}
.input2{
  width:5rem;
  height:2rem;
  font-size: 1rem;
}
.confirmbtn{
  width:100%;
  height: 3rem;
  background-color: forestgreen;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.confirmbtn:hover{
  background-color: dodgerblue;
  transform: scale();
}

/* .dashboard-main {
    margin-left: 50px;
    width: 90%;
    height: 30vh;
    margin-top: 5rem;
    background-color: white;
    color: forestgreen;
    border-radius: 20px;
  } */

/* .adminlinks{
    display:flex;
    flex-direction: column;
    gap:2rem;
    margin-left: 10px;
    margin-top: 5rem;
  } */

.adminlinks a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
.adminlinks img {
  width: 25px;
}

.adminlinks {
  display: block;
  margin: 15px 10px;
  padding: 15px;
  padding-left: 23%; /* Adjust spacing between items */
}

.adminlinks span {
  display: flex;
  align-items: center;
  margin: 40px 0; /* Adjust spacing between links */
}

.adminlinks img {
  display: block;
  margin-right: 15px; /* Adjust spacing between image and text */
}
