* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
      /* background-color: #e5e1e1; */
      background-color: #e5e1e1;
  }
  
  /* media queries breakpoints - responsive design*/
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  
  
  }
  /* responsive design media queries breakpoints */

  .left {
    height: 50vh;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .left .header {
    padding-top: 5rem;
    font-size: 3rem;
    color: forestgreen;
  }
  
  .left .header2 {
    padding-left: 8rem;
    color: forestgreen;
  }

  .right {
    margin-bottom: 6rem;
    height: 85vh;
    margin-top:20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    border: 1px solid forestgreen;
    border-radius:10px 10px;
    background-color: white;
    height:93vh;
    width:45%;
  }

/* .container{
  background-color: #e5e1e1;
  height:93vh;
  width:45%;
  margin-left:50%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid forestgreen;
  border-radius:10px 10px;
  margin-bottom: 6rem;
} */
.row{
  display:relative;
}

.form label {
  padding-right: 250px;
}

.form input {
  width: 130%;
  padding: 3px;
  border-radius: 10px;
  border: 3px solid forestgreen;
}

/* Toggle password visibility */
.form-group {
  position: relative;
  margin-bottom: 1.5rem;
}

.form-group input {
  width:200%;
  padding: 5px;
  padding-right: 40px; /* Space for the icon */
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form-group input[type="date"] {
  padding: 3px;
  padding-right: 10px; /* Space for the date icon */

}



.form-group input[type="date"]:invalid + label {
  font-size: 1rem;
  top: 50%;
  left: 10px;
  background: white;
  color: #999;
}
.form-group label {
  position: absolute;
  top: 50%;
  left:3px;
  transform: translateY(-59%);
  background: white;
  color: #999;
  padding: 0 5px;
  transition: all 0.6s ease;
  pointer-events: none;
}

.form-group input:focus + label,
.form-group input:not(:placeholder-shown) + label {
  top: 0;
  left: 60px;
  font-size: 0.75rem;
  color: #333;
  padding: 0 5px;
  background: white;
}


.agreement{
  display: flex;

}
/* Login Button CSS */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    margin-left: 200px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

.signuplogin{
text-decoration: none;
color:black;
}
.account{
    color:forestgreen;
}
.signuplogin:hover{
    text-decoration: underline;
}