* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  body{
      /* background-color: #e5e1e1; */
      background-color: white;
  }
  
  /* media queries breakpoints - responsive design*/
  .row::after {
    content: "";
    clear: both;
    display: block;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px;
  }
  
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
      width: 100%;
    }
  
  
  }
  /* responsive design media queries breakpoints */
.container{
  background-color: #e5e1e1;
  height:93vh;
  width:45%;
  margin-left:20%;
 padding-bottom: 20%;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  border: 1px solid forestgreen;
  border-radius:10px 10px;
}


input[type="text"],
input[type="password"],
input[type="date"],
input[type=""]{
    width: 500px;
    height:2rem; /* or set a specific width like 300px */
    padding: 3px; /* Optional: Adds some padding for a better look */
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
    margin-left: 25px;
}



main{
  margin-top:20px;
}
.agreement{
  display: flex;

}
/* Login Button CSS */
.button-29 {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    margin-left: 200px;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow 0.15s, transform 0.15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
  }
  
  .button-29:focus {
    box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  }
  
  .button-29:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-29:active {
    box-shadow: #3c4fe0 0 3px 7px inset;
    transform: translateY(2px);
  }

.signuplogin{
text-decoration: none;
color:black;
}
.account{
    color:forestgreen;
}
.signuplogin:hover{
    text-decoration: underline;
}